<div class="container">
  <table class="content-table">
    <thead>
      <tr>
        <th>No.</th>
        <th>Handler's Name</th>
        <!-- <th>Active/Deactive</th> -->
      </tr>
    </thead>
    <tbody class="list">
      <tr *ngFor="let hanlder of showList; index as idx">
        <td>{{ idx + 1 }}</td>
        <td>{{ hanlder }}</td>
        <!-- <td><mat-slide-toggle></mat-slide-toggle></td> -->
      </tr>
    </tbody>
  </table>
</div>

<div class="btn-container">
  <div class="next-previous-btn">
    <div class="previous-page">
      <button
        (click)="listContent('backward')"
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>fast_rewind</mat-icon>
      </button>
    </div>
    <div class="next-page">
      <button
        (click)="listContent('forward')"
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>fast_forward</mat-icon>
      </button>
    </div>
  </div>
</div>
