<div class="page">
  <div class="bar errormessage" *ngIf="message">
    <div class="close" (click)="removeErrorMessage()">X</div>
    <i class="ico" (click)="removeErrorMessage()">&#9747;</i> {{ message }}
  </div>

  <div class="center">
    <h4>Reset Password</h4>
    <form [formGroup]="passwordControl" (ngSubmit)="onSubmit()">
      <div class="txt_field">
        <input type="password" id="password1" formControlName="password1" />
        <span
          ><small class="error" *ngIf="password1?.touched && password1?.invalid"
            >Enter Valid Password</small
          ></span
        >
        <label for="password1">Password</label>
      </div>

      <div class="txt_field">
        <input type="password" id="password2" formControlName="password2" />
        <span
          ><small class="error" *ngIf="password2?.touched && password2?.invalid"
            >Re enter Password</small
          ></span
        >
        <label for="password1">Password</label>
      </div>

      <input type="submit" value="Reset Password" />

      <div class="signup_link">
        <a [routerLink]="['/signup']" class="link">Signup</a>
        <a [routerLink]="['/login']" class="link">Login</a>
      </div>
    </form>
  </div>
</div>
