<div class="page">
  <div class="bar errormessage" *ngIf="message">
    <div class="close" (click)="removeErrorMessage()">X</div>
    <i class="ico" (click)="removeErrorMessage()">&#9747;</i> {{ message }}
  </div>

  <div class="center">
    <h4>Reset Password</h4>
    <form [formGroup]="usernameFormControl" (ngSubmit)="onSubmit()">
      <div class="txt_field">
        <input type="text" id="username" formControlName="username" />
        <span
          ><small class="error" *ngIf="username?.touched && username?.invalid"
            >Enter Valid Username</small
          ></span
        >
        <label for="username">Username</label>
      </div>

      <input type="submit" value="Next" />

      <div class="signup_link">
        <a [routerLink]="['../signup']" class="link">Signup</a>
        <a [routerLink]="['../login']" class="link">Login</a>
      </div>
    </form>
  </div>

  <!--  -->
</div>
