<p>invites works!</p>

<div class="container" *ngFor="let invite of invites">
  <div class="content">
    <h4>Workspace:</h4>
    <h4>Invite Maker:</h4>
    <h4>Channels:</h4>
    <div class="inner-container">
      <div><h4>Username:</h4></div>
      <div class="flap">
        <button mat-fab color="primary" mat-raised-button>
          <mat-icon>check</mat-icon>
        </button>

        <button mat-fab color="warn">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
