<div class="page">
  <div class="bar errormessage" *ngIf="message">
    <div class="close" (click)="removeErrorMessage()">X</div>
    <i class="ico" (click)="removeErrorMessage()">&#9747;</i> {{ message }}
  </div>

  <div class="center">
    <h4>Login</h4>
    <form [formGroup]="loginFormControl" (ngSubmit)="onSubmit()">
      <div class="txt_field">
        <input type="text" id="username" formControlName="username" />
        <span
          ><small class="error" *ngIf="username?.touched && username?.invalid"
            >Enter Valid Username</small
          ></span
        >
        <label for="username">Username</label>
      </div>
      <div class="txt_field">
        <input type="password" id="password" formControlName="password" />
        <span
          ><small class="error" *ngIf="password?.touched && password?.invalid"
            >Enter Valid Password</small
          ></span
        >
        <label for="password">Password</label>
      </div>
      <input
        type="submit"
        [disabled]="loginFormControl.invalid"
        value="Login"
      />
      <div class="forget-password">
        <a class="fpassword" [routerLink]="['../forget-password']"
          >Forgot password?</a
        >
      </div>
      <div class="signup_link">
        Not a member? <a [routerLink]="['../signup']">Signup</a>
      </div>
    </form>
  </div>
</div>
